@tailwind base;
@tailwind components;
@tailwind utilities;

.fixed-page-sidebar {
    position: fixed !important;

    @media (max-width: 1023px) {
        /* Adjust for md */
        position: inherit !important;       
    }

    @media (max-width: 767px) {
        /* Adjust for sm */
        position: inherit !important;
    }
}